*{

  padding: 0px;
  margin: 0;
  text-decoration: none;
  font-family: "Calibri Light";
}




/*----------------- div contenedor de todos los elementos.*/
.general{

  margin: auto;
  width: 95%;
}

/*----------------- div donde se piden datos para crear el mapa de minas.*/
#datosTablero{

  border: solid chartreuse 1px;

}

/*----------------- div donde se muestran los botones.*/
#tablero{

  margin-top: 22px;
  margin-left: 31px;

  overflow-x: hidden;

  overflow-x: scroll;
  overflow-y: scroll;
}

/*----------------- aplicada a los botones que se crean dinámicamente con javaScript.*/
.celdas{

  cursor: pointer; /*----------------- cambia el puntero por una manita.*/
  height: 47px;
  width: 47px;
  margin: 2px;
  box-shadow: 0px 0px 15px gray;
  font-size: 27px;
}

